/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* resetting */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bbb;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* project css */
.background {
  position: absolute;
  top: -5rem;
  left: -5rem;
  width: calc(100vw + 10rem);
  height: calc(100vh + 10rem);
  background-image: url("./background.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(30px);
  -webkit-filter: blur(30px);
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
