/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* resetting */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  background-color: #eee;
}

/* project css */
input {
  display: none;
}

label {
  position: relative;
  width: 5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}

label::before {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background-color: #6ed860;
  transition: 0.3s left ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 0.3s left ease-in-out;
  -moz-transition: 0.3s left ease-in-out;
  -ms-transition: 0.3s left ease-in-out;
  -o-transition: 0.3s left ease-in-out;
}

input:checked + label::before {
  left: 50%;
}
